:root {
    --white: #fff;
}

body {
    margin: 0;
}

p {
    padding: .3rem 0rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.holder {
    display: block;
    height: 100vh;
    width: 100vw;
}

.scroll {
    height: 40vh;
    background-color: var(--white);
    overflow-y: scroll;
    background: linear-gradient(to left,
            #049948 0%,
            #59b984 100%);
}

.map {
    height: 60vh;
    background-color: green;
}

@media screen and (min-width: 720px) {
    .holder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .scroll {
        height: 100vh;
        background-color: var(--white);
        width: 30%;
    }

    .map {
        height: 100vh;
        background-color: green;
        width: 70%;
    }
}

.maps-title {
    text-align: center;
    padding: 0.5rem 0.2rem;
    align-content: center;
}

.info-content {
    padding-bottom: 500px;
    text-align: justify;
}

.content-item {
    padding: 2rem 0.2rem;
    min-height: 200px;
}

.active {
    background-color: #cccccc00;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.86);
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.86);
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.counties {
    text-align: left;
}

/*SELECT CSS*/
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

/*.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 0px;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}*/

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 98%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid #243c4f;
    border-radius: 9px;
    background: #e6e6e630;
    color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000000;
    background: #cccccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #243c4f transparent transparent transparent;
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
    border-top-color: #000000;
}

.select select:disabled~.select_arrow {
    border-top-color: #cccccc;
}

.display-none {
    display: none;
}

.capitalise {
    text-transform: capitalize;
}

.text-centered {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-justify {
    text-align: justify;
}

.krb-btn {
    -moz-box-shadow: 0px 0px 0px 0px #3dc21b;
    -webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
    box-shadow: 0px 0px 0px 0px #3dc21b;
    background-color: #2baf2b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 2px 33px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #525252;
}

.krb-btn:hover {
    background-color: #5cbf2a;
}

.krb-btn:active {
    position: relative;
    top: 1px;
}

.styled-scrollbars {
    scrollbar-width: thin;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.styled-scrollbars::-webkit-scrollbar-track {
    background: #ffc107;
    /* color of the tracking area */
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    background-color: #243c4f;
    /* color of the scroll thumb */
    border-radius: 0px;
    /* roundness of the scroll thumb */
    border: 1px solid #243c4f;
    /* creates padding around scroll thumb */
}

body {
    scrollbar-width: 5px;
    /* "auto" or "thin" */
    scrollbar-color: #243c4f #ffc107;
    /* scroll thumb and track */
}


/*ANIMATIONS*/
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes slide-rotate-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0deg);
        transform: translateY(0) rotateX(0deg);
    }

    100% {
        -webkit-transform: translateY(-150px) rotateX(-90deg);
        transform: translateY(-150px) rotateX(-90deg);
    }
}

@keyframes slide-rotate-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0deg);
        transform: translateY(0) rotateX(0deg);
    }

    100% {
        -webkit-transform: translateY(-150px) rotateX(-90deg);
        transform: translateY(-150px) rotateX(-90deg);
    }
}
